html, body {
    height: 100%;
    width: 100%;
    margin: 0; 
    font-family: Lato, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.button {
    width: 230px;
    padding: 10px;
    background: #b3b3b3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: black;
    font-size: 32px;
    font-weight: 900;
    word-wrap: break-word;
    cursor: pointer; 
    text-decoration: none;
    margin: 10px; 
    border: none;
}

.header {
    position: absolute;
    top: 30px;
    font-size: 32px;
    font-weight: bold;
}



#english {
    left: 74px;
    top: 185px;
}
#math {
    left: 74px;
    top: 263px;
}
#arithmetic {
    left: 74px;
    top: 341px;
}
#process {
    left: 74px;
    top: 419px;
}
#technical {
    left: 74px;
    top: 497px;
}
